.fd{
    background-image: url(assets/img_bg_1.jpg);
    background-repeat: no-repeat;
    /* border:0px; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.store-banner{
    background-image: url(assets/img_bg_1.jpg);
    height: 300px;
    background-size: cover;
}
.topbar{
    background-color: transparent;
}